*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}

.container{
    background-color: antiquewhite;
    padding: 24px;
    margin: auto;
}
.container h3{
    text-align: center;
}

.container p{
    text-align: center;
}

input, textarea{

    width: 80%;
    margin: 10px 0px;
    padding: 7px;
    font-size: 24px;
    border: 2px solid orangered;
    border-radius: 30px;
    outline: none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submitMsg{
    color: green;
    font-size: 24px;
}